<div class="container">
<div class="jumbotron">
  <h2> אירועים במכללה  </h2>
</div>
<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div (click)="updateSchool('preparatoryProgram')">מכינות</div>
    </ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div (click)="updateSchool('law')">משפטים</div>
    </ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div (click)="updateSchool('humanities')">מדעי הרוח</div>
    </ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div (click)="updateSchool('socialSciences')">מדעי החברה</div>
    </ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div (click)="updateSchool('healthSciences')">מדעי הבריאות</div>
    </ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <div (click)="updateSchool('general')">כללי</div>
    </ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<br><br>
<app-school [schoolName]="school"></app-school>
</div>

<p style="text-align: center">
  <button  type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><i class="material-icons">place</i>
    בואו לבקר
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img id="map" src="https://www.smkb.ac.il/Data/Uploads/namir3.4.11.png">
        </div>
      <div class="col" id="text">
      <p><b>
        רחוב ירושלים 11 , צפת
  <br>
        טלפון: 04-6927777
        </b>
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">שירותים וסיוע</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="#">הרשמה</a></li>
          <li><a href="#">ימים פתוחים</a></li>
          <li><a href="#">הרשמה</a></li>
          <li><a href="#">ימים פתוחים</a></li>
          <li><a href="#">ימים פתוחים</a></li>
          <li><a href="#">ימים פתוחים</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>
      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">בתי ספר ומכינות</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
        <li><a href="#">בית ספר למשפטים</a></li>
        <li><a href="#">בית ספר למדעי ההתנהגות</a></li>
        <li><a href="#">בית ספר למשפטים</a></li>
        <li><a href="#">בית ספר למשפטים</a></li>
        <li><a href="#">בית ספר למשפטים</a></li>
        <li><a href="#">בית ספר למשפטים</a></li>
      </ul>
        <!--footer_ul_amrc ends here-->
      </div>
    </div>
  </div>
</footer>





